/* header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 58px 0 40px 0;
}

#iconTitleWrapper {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

#iconTitleWrapper img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

#iconTitleWrapper h2 {
  color: #14212b;

  /* display-bold24 */
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

#dateWrapper h3 {
  color: #5f6e76;

  /* display-medium16 */
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  margin: 0;
}

/* newsBar */
.newsBarWrapper {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
  cursor: pointer;
}

#newsBar1,
#newsBar2 {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;

  border: 1px solid #d2dae0;
  background-color: #f5f7f9;

  /* display-bold14 */
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  line-height: normal;

  color: #4b5966;
}

#newsCompany {
  color: #14212b;
  font-weight: 700;
}

#newsBarTitle {
  font-weight: 500;
}

#newsBarTitle:hover {
  text-decoration-line: underline;
}

/* contentHeader */
#contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  margin-bottom: 24px;
}

#tabWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

#tabWrapper button {
  color: #14212b;

  /* selected-bold16 */
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  background: none;
  border: none;
}

#viewerWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

/* newsThumb */
#newsListWrapper {
  display: flex;
  height: 388px;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  flex-shrink: 0;
}

#fieldTabWrapper {
  display: flex;
  width: 930px;
  height: 8px;
  padding: 16px 0px;
  align-items: center;
  border: 1px solid #d2dae0;
  background-color: #f5f7f9;
}

#categoryBtn {
  cursor: pointer;

  display: flex;
  height: 40px;
  padding: 0px 16px;
  align-items: center;
  gap: 8px;

  color: #879298;

  /* available-medium14 */
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  background: none;
  border: none;
}

#categoryBtn #countText {
  display: none;
}

#categoryBtn_selected {
  display: flex;
  justify-content: space-between;
  width: 166px;
  height: 40px;
  padding: 0px 16px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  background-color: #7890e7;
  border: none;

  color: #fff;

  /* selected-bold14 */
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#categoryBtn_selected #countText {
  color: #fff;

  /* display-bold12 */
  font-family: "Pretendard Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#pressNews {
  display: flex;
  width: 882px;
  height: 300px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border: 1px solid #d2dae0;
}

#pressInfo {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

#news {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
